[build]
  command = "npm run build"
  publish = "dist"
  functions = "api"

[functions]
  directory = "api"
  node_bundler = "esbuild"
  external_node_modules = ["sqlite3"]
 
 [[redirects]]
   from = "/api/*"
   to = "/.netlify/functions/index/:splat"
   status = 200
   force = true

 [[redirects]]
   from = "/api"
   to = "/.netlify/functions/index"
   status = 200
   force = true

 [[redirects]]
   from = "/*"
   to = "/index.html"
   status = 200
   force = false