[build]
  command = "npm run build"
  publish = "dist"

[functions]
  # بنعرف نيتليفي إن ملفات السيرفر موجودة هنا
  directory = "api"
  node_bundler = "esbuild"

[[redirects]]
  # أي طلب للمنيو يروح لفولدر الـ api
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200